.hero {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/dxlmumzlj/image/upload/v1755719112/hallo-img_kjngm2.png'); /* spooky Halloween image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
  }
  