.hero {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/dxlmumzlj/image/upload/v1755805635/grunge-bg_b5sofy.png'); /* spooky Halloween image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
  }
  .hero-logo {
    height: 50vh;
    background-image: url('https://res.cloudinary.com/dxlmumzlj/image/upload/v1755804921/nightmare-logo_qymgla.png'); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index:999;
    width:100%
  }
  